html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* prevents scrolling */
    background-color: midnightblue;
}
.rainy , .snowy , .partly-cloudy, .cloudy, .sunny, .clear-night{
    position: relative;
    top: -10vh;
    display: none;
}
.cloud{
    position: absolute ;
    z-index: 1;
}
.cloud img{
    width: 350px;
    height: 250px;
}
#cloud1{
    left: 0;
}
#cloud2{
    left:15%;
    transform: scaleX(-1);
}
#cloud3{
    left: 30%;
}
#cloud4{
    left: 45%;
}
#cloud5{
    left:60%;
    transform: scaleX(-1);
}
#cloud6{
    left: 75%;
}
.rain{
    position: absolute;
    z-index: 0;
    top:20vh;
}
.rain img{
    width: 280px;
    height: 90vh;
}
#rain1{
    left: 5%;        
}
#rain2{
    left:20%;        
}
#rain3{
    left:40%;        
}
#rain4{
    left:60%;        
}
#rain5{
    left:77%;        
}
.wind{
    position: absolute;
    z-index: 1;
    
}
#wind1{
    top:60vh;
    left: 70%;
}
#wind2{
    top:30vh;
    left: 10%;
}

.sun{
    position: absolute;
    z-index: 1;
    left: 40%;
}
.birds{
    position: absolute;
    z-index: 1;
    left: 45%;
}
.birds img{
    width: 250px;
    height: 200px;
}
#birds1{
    left: 25%;
    top:35vh;
}
#birds2{
    left: 70%;
    top:20vh;
}
.sun img{
    width: 300px;
    height: 300px;
}
.snow{
    position: absolute;
    z-index: 0;
    top:20vh;
}
.snow img{
    width: 280px;
    height: 90vh;
}
#snow1{
    left: 5%;        
}
#snow2{
    left:20%;        
}
#snow3{
    left:40%;        
}
#snow4{
    left:60%;        
}
#snow5{
    left:77%;        
}

.stars{
    position: absolute ;
    z-index: 1;
}
.stars img{
    width: 520px;
    height: 300px;
}
#stars1{
    left: 0;
}
#stars2{
    left: 35%;
}
#stars3{
    left: 70%;
}

.parent {
    margin-top: 120px;
    height: 80vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 25px;
    
}
.div1, .WeatherPerHour, .div3, .div4{
    background-color: aliceblue;
    z-index: 5;
    opacity: 70%;
    border: white solid 5px;
    border-radius: 5%;
}
    
.div1 {
    grid-row: span 3 / span 3;
    grid-column-start: 2;
    
}
.WeatherPerHour {
    height: 100%;
    grid-column: span 3 / span 3;
    grid-column-start: 3;
    grid-row-start: 4;
    display: flex;
    overflow-x: auto;       /* allow horizontal scroll */
    overflow-y: hidden;      
    gap: 10px;              /* space between blocks */
    padding: 5px;
    background: #f0f0f0;
    border-radius: 10px;
    scroll-behavior: smooth;
    
}
.hour-block {
  background: white;
  border-right: 1px solid #ccc; /* thin separator line */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}
.hour-block{
    justify-content: center;
}
.hour-block:hover{
    background-color: grey;
    cursor:pointer;
}
.hour-block:last-child {
  border-right: none;
}

.hour-block img {
  width: 50px;
  height: 50px;
}

.hour-block .time {
  font-size: 16px;
  color: #555;
  margin-bottom: 8px;
}

.hour-block .temp {
  font-size: 22px;
  font-weight: bold;
  color: #333;
}


.div3 {
    grid-column-start: 4;
    grid-row-start: 3;
}
.div4 {
    grid-column-start: 6;
    grid-row-start: 2;
}

@media (max-width: 768px) {
    .parent {
        display: flex;
        flex-direction: column;
        gap: 15px; /* smaller gap for phones */
    }
    .div1 { order: 4; }
    .div2 { order: 3; }
    .div3 { order: 1; }
    .div4 { order: 2; }
}
.other{
    display: flex;
    justify-content: center;
}
.box{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}
.hid{
    display: none;
}
.hour-block.active {
  background-color: rgba(100, 150, 255, 0.2);
  border: 1px solid #6495ff;
}